version: 2
updates:
    - package-ecosystem: "github-actions"
      directory: "/"
      # Check for updates every Monday
      schedule:
          interval: "weekly"
      open-pull-requests-limit: 10

    - package-ecosystem: "npm"
      directory: "/"
      # Check for updates every Monday
      schedule:
          interval: "weekly"
      open-pull-requests-limit: 10
      ignore:
          - dependency-name: "@types/node"
            update-types: ["version-update:semver-major"]
          - dependency-name: "@types/vscode"
            update-types: ["version-update:semver-minor"]

    - package-ecosystem: "npm"
      directory: "/website/"
      # Check for updates every Monday
      schedule:
          interval: "weekly"
      open-pull-requests-limit: 10
      groups:
          docs:
              patterns:
                  - '@docusaurus/*'
